.sg_s_contact .container {
    display: block;
    min-height: 15rem;
}
.sg_s_contact{background: url(contact-top-bg.jpg) no-repeat center center;
    position: relative;
    margin-top:-5px;
    background-size: cover;
    min-height: 100%;}
.contact-yop {
    padding: 2rem 0;
    text-align: center;
}
.contact-list{display: none;}
.contact-yop em {
    font-size: 1.5rem;
    color: #fff;
    font-style: normal;
    display: block;
}

.contact-yop p {
    font-size: 1rem;
    color: #fff;
}
.four{padding: 20px 0;}
.zx_four{ clear: both;}


.zx_four .swiper-slide dl{ margin: 0 auto; width: 100%; padding: 0 10px;}
.zx_four dl dt{ clear: both; overflow:hidden;border-bottom: 1px dashed #959595; padding: 20px 0 0; line-height: 32px; position: relative; z-index: 2; color: #818181;}
.zx_four dl .qust,.zx_tc .qust{ clear: both; overflow: hidden; cursor: pointer; margin-bottom: 10px; color: #07cab9;}
.zx_four dl h4,.zx_tc h4{font-weight: lighter; width: 32px; height: 32px; color: #fff; margin-right: 10px; display: inline-block; float: left; text-align: center;}
.zx_four dl .qust h4,.zx_tc .qust h4{ background: #07cab9;}
.zx_four dl dt .answ h4,.zx_tc .answ1 h4{ background: #272636;}
.zx_four dl dt p{ overflow: hidden; margin-bottom:10px;}
.zx_tc{ position: fixed; top:10%; left: 5%; width: 90%;  overflow: hidden; overflow-y: scroll; z-index:10000; background: #fff; padding:20px 10px; display: none;}
.close1{position: absolute; right: 5px;top:5px; width: 15px; cursor: pointer;}
.close1 img{ width: 100%;}
.answ2{ overflow: hidden;}
.zx_four .pagination{ clear: both; overflow: hidden; padding: 20px 0 0; text-align: center;}
.zx_four .pagination .swiper-pagination-bullet{ margin: 0 5px;width: 16px; height: 16px;opacity:1; filter:alpha(opacity=100); background-size: auto 100% !important; display: inline-block; overflow: hidden; border-radius: 0;}
.zx_four .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-position: right 0; }
.proposal{background: url(proposal-bg.jpg) no-repeat 0 center;background-size: 100% 100%;padding: 50px 0 100px;}
.proposal .index_top big:before{left: 0%;background: #fff;}
.proposal .index_top big:after{right: 0%;background: #fff;}

@media (min-width: 48em) {
    .sg_s_contact{ margin-top: 0px;}
    .sg_s_contact .container {
        min-height: 800px;
    }

    .contact-yop {
        padding: 13rem 0;
        text-align: center;
    }

    .contact-yop em {
        font-size: 2.5rem;
        color: #fff;
        font-style: normal;
        display: block;
    }

    .contact-yop p {
        font-size: 1.2rem;
        color: #fff;
    }

    .contact-list {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 60px;display: block;;
    }

    .contact-list ul:after {
        content: '';
        display: table;
        clear: both;
    }

    .contact-list ul li {
        width: 20%;
        float: left;
        padding: 10px 4%;
        border-left: 1px solid #ddd;text-align: center;

    }
    .contact-list ul li a{ color: #fff;}
    .contact-list ul li:first-child {
        border: none;
    }
    .contact-list ul li .pic{width: 37px;height: 37px;float: left;}
    .contact-list ul li:nth-child(1) .inyro{padding-left: 0px;background: url(about-img1.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(2) .inyro{padding-left: 0px;background: url(about-img2.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(3) .inyro{padding-left: 0px;background: url(about-img3.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(4) .inyro{padding-left: 0px;background: url(about-img4.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(5) .inyro{padding-left: 0px;background: url(about-img5.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(1):hover .inyro{padding-left: 50px;}
    /* .contact-list ul li:nth-child(2):hover .inyro{padding-left: 50px;background: url(about-img2-hover.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(3):hover .inyro{padding-left: 50px;background: url(about-img3-hover.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(4):hover .inyro{padding-left: 50px;background: url(about-img4-hover.png) no-repeat 0 center;background-size: contain}
    .contact-list ul li:nth-child(5):hover .inyro{padding-left: 50px;background: url(about-img5-hover.png) no-repeat 0 center;background-size: contain} */
    .contact-list ul li:hover img{-webkit-transform:translateY(-5px);transform:translateY(-5px);}
    .contact-list ul li:hover a{color: #37cbbe}
    .proposal{background: url(proposal-bg.jpg) no-repeat 0 center;background-size: 100% 100%;padding: 50px 0 100px;}
    .zx_four dl dt{ clear: none;float: left; width: 48%; height: 185px;}
    .zx_four dl dt.zxodd{ float: right;}
    .zx_four dl .qust,.zx_tc .qust,.zx_four dl h4,.zx_tc h4{font-size: 18px;}

    .zx_tc{ left: 20%; width: 60%; padding:30px; color: #818181;}
    .proposal .index_top big:before{left: 35%;background: #fff;}
    .proposal .index_top big:after{right: 35%;background: #fff;}

}
.content1{ min-width:320px;border-radius:5px; background-size:auto 100%; margin:20px auto 60px; color:#ffffff; text-align:left; padding:40px 0;}
.content1 h1{ width:90%; margin:0 auto; font-size:18pt;}
.content1 p{ width:90%; margin:0 auto; font-size:14pt;}

.content2{   background-size:auto 100%; }
ul.online{ padding:1% 0 4% 0;}
ul.online li{ padding:20px 0; float:left; width:100%; margin-bottom:10px; text-align:center;  border-radius:10px; color:#3b3b3b; font-size:14pt}
ul.online li .qq-bg{border: 1px #37cbbe solid;padding: 30px 0;border-radius: 10px;}
ul.online li img.tx{ border-radius:100%; max-width:40%;}
ul.online li h2{ padding:10px 0; font-weight:normal;color: #37cbbe;}
ul.online li p{ text-align:center; font-size:12pt; line-height:36px; width:80%; margin:0 auto;}
ul.online li a{ border-radius:20px; padding:5px 10px; color:#fff;  cursor:pointer;}
ul.online li a:hover{ color:#e74236; background:#fff;}
.proposal .index_top strong{color: #fff;}
.proposal .index_top big{color: #fff;}
.proposal .index_top small{color: #fff;}
.proposal .index_top p{color: #fff;}
.content3{ padding-top:2%; padding-bottom:5%; color:#000000}
.content3 ul{}
.content3 ul li{ color:#ffffff; background:#00ccbe url(iphone-bg.png) no-repeat right top; background-size:auto 100%;  border-radius:10px; float:left; width:100%; margin-bottom:10px; margin-bottom:}
.content3 ul li.wx{ background:#00ccbe url(wxbg.png) no-repeat right center; background-size:auto 100%;}
.content3 ul li h1{ width:90%; margin:0 auto; font-size:20pt; font-weight:normal; padding:10px 0; border-bottom:#fff solid 1px;}
.content3 ul li dl{ width:90%; margin:0 auto; padding:20px 15px;}
.content3 ul li dl:after{ content: '';
    display: table;
    clear: both;}
.content3 ul li.qq dl{ padding:30px 15px;}
.content3 ul li.qq dl{ line-height:38px; font-size:13pt;}
.content3 ul li.qq dl img{ height:14pt; vertical-align:middle;}

.content3 ul li.wx dt{ margin:0 auto; background:#fff; width:134px; height:134px; position:relative}
.content3 ul li.wx dt img{position:absolute; width:90%; height:90%; left:50%; margin-left:-45%; top:50%; margin-top:-45%;}
.content3 ul li.wx dd{position:relative; text-align:center; font-size:13pt; padding-top:22pt;}
.content3 ul li.wx dd p{}
.content3 ul li.wx dd span{ color:#ffea39}

.content4{}
.map{ text-align:center;}
.map img{ max-width:100%;}
.content4 .map .map-pc{ display:none;}
.content4 .map .map-mobile{ display:block;}
.three{ background: #fff; clear: both; overflow: hidden; margin: 0 auto; width: 100%; max-width:1160px;}
.three .app_one1{ background: url(one_f1.jpg) no-repeat center bottom; color: #fff; height: 150px; background-size: 100% 100% !important;line-height: 100px; text-align: center;}
.three .app_one1 strong{}
.app_one1 strong {
    display: block;
    clear: both;
    overflow: hidden;
    color: #37cbbe;
    font-size: 20px;letter-spacing: 3px;
}
@media only screen and (min-width:640px){
    .content1{ width:640px;}
    .content1 h1{ width:80%;}
    .content1 p{ width:80%;}
    ul.online li{ width:48%; margin:0 1% 10px;}
    .content3 ul li.wx dt{ float:left;}
    .content3 ul li.wx dd{position:relative; padding-left:164px; text-align:left;}
    .content4 .map .map-pc{ display:block;}
    .content4 .map .map-mobile{ display:none;}
}
@media only screen and (min-width:768px){
    .content1{ width:768px;}
    .content1 h1{ width:80%;}
    .content1 p{ width:80%;}
    ul.online li{ width:48%; margin:0 1% 10px;}
    .content3 ul li.wx dt{ float:left;}
    .content3 ul li.wx dd{position:relative; padding-left:164px; text-align:left;}
    .app_one1 strong {
        font-size: 22px;
    }
}
@media only screen and (min-width: 1160px){
    .content1{ width:1160px;}
    .content1 h1{ width:80%;}
    .content1 p{ width:80%;}
    ul.online li{ width:23%; margin:0 1%;}
    .content3 ul li{ width:48%; margin:0 1%;}
    .content3 ul li.wx dt{ float:left;}
    .content3 ul li.wx dd{position:relative; padding-left:164px; text-align:left;}
}
.top-bg{background:url(top-bg.jpg) no-repeat center center; background-size:contain;padding: 0 10px}
.bottom-bg{background:url(bottom-bg.jpg) no-repeat center center; background-size:contain;}





