.sg_s_about .container {
    display: block;
    min-height: 15rem;
}
.sg_s_about{background: url('./service-top-bg1.jpg') no-repeat center center;
    position: relative;
    margin-top:-5px;
    background-size: cover;
    min-height: 100%;}
.about-yop {
    padding: 2rem 0;
    text-align: center;
}
.about-list{display: none;}
.about-yop em {
    font-size: 1.5rem;
    color: #fff;
    font-style: normal;
    display: block;
}

.about-yop p {
    font-size: 1rem;
    color: #fff;
}
.honor-zz{background:url(bg.jpg) no-repeat center top; background-size:100% 100%;padding:100px 0; height:auto!important;}
.honor-zz .index_top strong{color: #fff;}
.honor-zz .index_top{color: #fff;}
.honor-zz .index_top big{color: #fff;}
.honor-zz .index_top small{color: #fff;}
.honor-zz .index_top big:before{background: #fff;}
.honor-zz .index_top big:after{background: #fff;}
.honor-zz .nTab{background: #fff;border-radius: 10px;margin: 0 10px;}
.honor-zz .nTab .index_pc:after{content:'';display:table;clear:both;}
.honor-zz .nTab #myTab4:after{content:'';display:table;clear:both;}
.honor-zz .nTab #myTab4 li{width: 25%;float: left;text-align: center;padding: 10px 0;cursor: pointer;}
.honor-zz .nTab #myTab4 li.active{
    background: -webkit-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Firefox 3.6 - 15 */
    background: linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* 标准的语法 */
    border-radius: 10px;
}
.honor-zz .nTab #myTab4 li h3{font-size: 18px;font-weight: normal;}
.honor-zz .nTab #myTab4 li.active h3{color: #fff;}
.honor-zz .TabContent .img-left img{width: auto;height: auto;display: block;margin:0 auto;}
.honor-zz .TabContent{padding:50px 0;}
.honor-zz .TabContent .img-left{width: 100%;}
.honor-zz .nTab .TabTitle{padding: 10px;}
.honor-zz .TabContent .index_pc{padding: 0 10px;}
.honor-zz .TabContent .slide-intro{width: 100%;padding-top: 2%;float: none;padding-left: 0%;}
.honor-zz .TabContent .slide-intro h2{font-size: 1.8rem;}
.honor-zz .TabContent .slide-intro p{line-height: 2;}
.honor-zz .TabContent .slide-intro span{padding-top: 2%;display: block;}
.honor-zz .TabContent .slide-intro span a{color: #00ccbe;}
.none{display: none;}
.manager-list:after{content:''; clear:both;display:table;}
.manager-list{margin-bottom:0%;}
.manager-list li{width:100%;float:none;}
.manager-list li.inform{padding:20px;}
.manager-list li h2{font-size:30px;color:#49c3bd;}
.manager-list li h2 span{font-size:14px;color:#49c3bd;font-weight:normal;}
.manager-list li.inform p{font-size:16px;color:#8c8c8c;letter-spacing:5px; }
.manager-list .manager-img img{max-width:100%;height:auto;display: block;margin: 0 auto;}
/* .manager-img{background: url(manager-img.png) no-repeat center bottom;background-size: contain;} */
.Rotary-sowing-about{background: url(bg.jpg) no-repeat center top;
    background-size: 100% 100%;padding: 100px 0;}
.Rotary-sowing-about .index_top strong{color: #fff;}
.Rotary-sowing-about .index_top{color: #fff;}
.Rotary-sowing-about .index_top big{color: #fff;}
.Rotary-sowing-about .index_top small{color: #fff;}
.Rotary-sowing-about .index_top big:before{background: #fff;}
.Rotary-sowing-about .index_top big:after{background: #fff;}
.Rotary-sowing-about .poster-item p{color: #fff;}
.Rotary-sowing-about .poster-item span{color: #fff;}
.Rotary-sowing-about .poster-item h3{color: #fff;}
.Rotary-sowing-about .dnSlide-main .swiper-button-prev{background-image: url(btn_l.png);}
.Rotary-sowing-about .dnSlide-main .swiper-button-next{background-image: url(btn_r.png);}

.slideC .slid-border{background: #fff;}
.about_partner {
    padding: 20px 0;
}
.about_partner .partner-top{padding-top: 30px;}
.about_partner .partner-top li{
    clear: none;
    float: left;
    width: 48%;margin: 0 1%;padding: 15px 0;
}
.about_partner .partner-top li img{max-width: 100%;height: auto;border: 1px #66d7cd solid;border-radius: 5px;}
.partner-top .partner-list .intro{padding:15px 7px;font-size:16px;line-height:2;}
.partner-top .partner-list .intro h4{font-size:16px;text-align:center;color: #4dcfc3;}
.partner-top .partner-list{padding: 5px;box-shadow: 0 0 5px #b2eae6;    border-radius: 5px;transition: all 0.25s ease;}
.Our-services {
    background: url(Rotary-sowing-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.Our-services .fw-list:after{content:''; clear:both;display:table;}
.Our-services .fw-list{padding: 15px 10px;}
.Our-services .fu-tu img{max-width:100%;height:auto;-webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;display: block;margin: 0 auto;}
.Our-services .fu-tu img:hover{ -webkit-transform:scale(.9);transform:scale(.9);}
.Our-services .fw-list li {
    clear: none;
    float: left;
    width: 50%;
    padding-bottom: 0px;

}

.two-bg{
  /* background: url('./all-bg.jpg') no-repeat center bottom; */
  background-size: contain;}
.evaluate-customer{background: url(evaluate-customer-bg.jpg) no-repeat center center;
    background-size:cover}
.evaluate-customer .mcon:after{content:''; clear:both;display:table;}
.evaluate-customer .mcon{}
.evaluate-left{width: 100%;float: none;}
.evaluate-left .evaluate-all{padding:5% 10%;background: url(sever-eart-bg.png) no-repeat left top;background-size: 100%;}
.evaluate-left .evaluate-all .intro{line-height: 36px;text-align: center;width: 100%;}
.evaluate-left .evaluate-all .info{width:85%;float: right;padding: 10% 0 0;}
.evaluate-left .evaluate-all .info-all:after{content:''; clear:both;display:table;}
.evaluate-left .evaluate-all .info-all .pic{width: 50%;float:left;}
.evaluate-left .evaluate-all .info-all .pic img{display: block;margin: 0 auto;border-radius: 50%;}
.evaluate-left .evaluate-all .info-all .evaluate-message{width: 50%;float:right;text-align: center;padding-top: 15px;}
.evaluate-left .evaluate-all .info-all .evaluate-message h4{font-size: 16px;}
.evaluate-left .evaluate-all .info-all .evaluate-message p{color: #4dcabe;}

.evaluate-right{width: 100%;float: none;}
.evaluate-right .right-all{padding:10% 5%;}
.evaluate-right .right-all h2{font-size: 20px;width: 100%;padding-left: 1%}
.evaluate-right .right-all span{font-size: 14px;color: #b6b6b6;line-height: 26px;width:100%;display: block;padding-top: 10px;}
.evaluate-customer .swiper-container{position: static;}
.evaluate-customer .evaluate-all{position: relative;background: none;}
.evaluate-customer .swiper-button-next{right: 5%;bottom:-5%;left: auto;top:auto;width: 89px;height: 20px;}
.evaluate-customer .swiper-button-prev{right:20%;bottom: -5%;left: auto;top:auto;width: 89px;height: 20px;}
.evaluate-customer .swiper-button-prev{background: url(left.png) no-repeat left top;
    background-size: contain;}
/* .evaluate-customer .swiper-button-prev:hover{background: url(left-hover.png) no-repeat left top; */
    /* background-size: contain;width: 89px;} */
.evaluate-customer .swiper-button-next{background: url(right.png) no-repeat right top;
    background-size: contain;}
/* .evaluate-customer .swiper-button-next:hover{background: url(right-hover.png) no-repeat right top;
    background-size: contain;width: 89px;} */
.evaluate-customer .index_top big:after{right: 3%;}
.evaluate-customer .index_top big:before{left: 3%;}
.shipin-service{position: absolute;left: 50%;transform: translate(-50%);bottom:35px;}
.shipin-service img{width: 50%;display: block;margin: 0 auto;}
@media (min-width: 48em) {
    .evaluate-customer .index_top big:after{right: 35%;}
    .evaluate-customer .index_top big:before{left: 35%;}
    .sg_s_about{ margin-top: 0px;}
    .sg_s_about .container {
        min-height: 800px;
    }

    .about-yop {
        padding: 13rem 0;
        text-align: center;
    }

    .about-yop em {
        font-size: 2.5rem;
        color: #fff;
        font-style: normal;
        display: block;
    }

    .about-yop p {
        font-size: 1.2rem;
        color: #fff;
    }

    .about-list {
        position: absolute;
        width: 50%;
        left: 50%;
        bottom: 60px;display: block;transform: translate(-50%);
    }

    .about-list ul:after {
        content: '';
        display: table;
        clear: both;
    }

    .about-list ul li {
        width:33.3%;
        float: left;
        padding: 10px 4%;
        border-left: 1px solid #90979f;text-align: center;

    }
    .about-list ul li a{ color: #fff;}
    .about-list ul li:first-child {
        border: none;
    }
    .about-list ul li .pic{width: 37px;height: 37px;float: left;}
    .about-list ul li:nth-child(1) .inyro{padding-left:20px;background: url(about-img1.png) no-repeat 0 center;background-size: contain}
    .about-list ul li:nth-child(2) .inyro{padding-left:20px;background: url(about-img2.png) no-repeat 0 center;background-size: contain}
    .about-list ul li:nth-child(3) .inyro{padding-left:20px;background: url(about-img3.png) no-repeat 0 center;background-size: contain}
    /* .about-list ul li:nth-child(1):hover .inyro{padding-left:20px;background: url(about-img1-hover.png) no-repeat 0 center;background-size: contain}
    .about-list ul li:nth-child(2):hover .inyro{padding-left:20px;background: url(about-img2-hover.png) no-repeat 0 center;background-size: contain}
    .about-list ul li:nth-child(3):hover .inyro{padding-left:20px;background: url(about-img3-hover.png) no-repeat 0 center;background-size: contain} */


    .about-list ul li:hover img{-webkit-transform:translateY(-5px);transform:translateY(-5px);}
    .about-list ul li:hover a{color: #37cbbe}
    .index_top big{text-transform: unset!important;}
    .honor-zz{background:url(bg.jpg) no-repeat center top; background-size:100% 100%;padding:100px 0; height:auto!important;}
    .honor-zz .index_top strong{color: #fff;}
    .honor-zz .index_top{color: #fff;}
    .honor-zz .index_top big{color: #fff;}
    .honor-zz .index_top small{color: #fff;}
    .honor-zz .index_top big:before{background: #fff;}
    .honor-zz .nTab .TabTitle{padding: 0;}
    .honor-zz .index_top big:after{background: #fff;}
    .honor-zz .nTab{background: #fff;border-radius: 10px;}
    .honor-zz .nTab .index_pc:after{content:'';display:table;clear:both;}
    .honor-zz .nTab #myTab4:after{content:'';display:table;clear:both;}
    .honor-zz .nTab #myTab4 li{width: 25%;float: left;text-align: center;padding: 25px 0;cursor: pointer;}
    .honor-zz .nTab #myTab4 li.active{
        background: -webkit-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* Firefox 3.6 - 15 */
        background: linear-gradient(#08555f, #0a5b66,#0a5b66,#08545e); /* 标准的语法 */
border-radius: 10px;
    }
    .honor-zz .nTab #myTab4 li h3{font-size: 28px;font-weight: normal;}
    .honor-zz .nTab #myTab4 li.active h3{color: #fff;}
    .honor-zz .TabContent .img-left img{width: auto;height: auto;display: block;margin:0 auto;}
    .honor-zz .TabContent{padding:50px 0;}
    .honor-zz .TabContent .img-left{width: 40%;}
    .honor-zz .TabContent .slide-intro{width: 35%;padding-top: 2%;float: left;padding-left: 2%;}
    .honor-zz .TabContent .slide-intro h2{font-size: 1.8rem;}
    .honor-zz .TabContent .slide-intro p{line-height: 2;}
    .honor-zz .TabContent .slide-intro span{padding-top: 2%;display: block;}
    .honor-zz .TabContent .slide-intro span a{color: #00ccbe;}
    .none{display: none;}
    .manager-list:after{content:''; clear:both;display:table;}
    .manager-list{margin-bottom:5%;}
    .manager-list li{width:50%;float:left;}
    .manager-list li.inform{padding:100px;}
    .manager-list li h2{font-size:60px;color:#49c3bd;}
    .manager-list li h2 span{font-size:30px;color:#49c3bd;font-weight:normal;}
    .manager-list li.inform p{font-size:18px;color:#8c8c8c;line-height:2.4;letter-spacing:5px; }
    .manager-list .manager-img img{max-width:100%;height:auto;display: block;margin: 0 auto;}
    /* .manager-img{background: url(manager-img.png) no-repeat center bottom;background-size: contain;} */
    .Rotary-sowing-about{background: url(bg.jpg) no-repeat center top;
        background-size: 100% 100%;padding: 100px 0;}
    .Rotary-sowing-about .index_top strong{color: #fff;}
    .Rotary-sowing-about .index_top{color: #fff;}
    .Rotary-sowing-about .index_top big{color: #fff;}
    .Rotary-sowing-about .index_top small{color: #fff;}
    .Rotary-sowing-about .index_top big:before{background: #fff;}
    .Rotary-sowing-about .index_top big:after{background: #fff;}

    .slideC .slid-border{background: #fff;}
    .Our-services {
        background: url(Rotary-sowing-bg.jpg) no-repeat center center;
        background-size: 100% 100%;
    }
    .Our-services .fw-list:after{content:''; clear:both;display:table;}
    .Our-services .fw-list{padding: 60px 0;}
    .Our-services .fu-tu img{max-width:100%;height:auto;-webkit-transition: all ease-in-out .5s;
        transition: all ease-in-out .5s;display: block;margin: 0 auto;}
    .Our-services .fu-tu img:hover{ -webkit-transform:scale(.9);transform:scale(.9);}
    .Our-services .fw-list li {
        clear: none;
        float: left;
        width: 50%;
        padding-bottom:0px;
    }
    .Our-services .fw-list li .fu-tu{width: 80%;margin:0 auto}
    .evaluate-customer{background: url(evaluate-customer-bg.jpg) no-repeat center center;
        background-size: 100% 100%;}
    .evaluate-customer .mcon:after{content:''; clear:both;display:table;}
    .evaluate-customer .mcon{position: relative;}
    .evaluate-left{width: 50%;float: left;}
    .evaluate-left .evaluate-all{padding:25% 25%;background: url(sever-eart-bg.png) no-repeat left top;background-size: 100%;}
    .evaluate-left .evaluate-all .intro{line-height: 36px;text-align: center;width: 100%;}
    .evaluate-left .evaluate-all .info{width: 55%;float: right;padding: 20% 0 0;}
    .evaluate-left .evaluate-all .info-all:after{content:''; clear:both;display:table;}
    .evaluate-left .evaluate-all .info-all .pic{width: 50%;float:left;}
    .evaluate-left .evaluate-all .info-all .pic img{display: block;margin: 0 auto;border-radius: 50%;}
    .evaluate-left .evaluate-all .info-all .evaluate-message{width: 50%;float:right;text-align: center;padding-top: 15px;}
    .evaluate-left .evaluate-all .info-all .evaluate-message h4{font-size: 16px;}
    .evaluate-left .evaluate-all .info-all .evaluate-message p{color: #4dcabe;}

    .evaluate-right{width: 50%;float: right;}
    .evaluate-right .right-all{padding: 25% 5%;}
    .evaluate-right .right-all h2{font-size: 28px;width: 42%;padding-left: 1%}
    .evaluate-right .right-all span{font-size: 16px;color: #b6b6b6;line-height: 26px;width:40%;display: block;padding-top: 20px;}
    .evaluate-customer .swiper-container{position: static;}
    .evaluate-customer .swiper-button-next{right: 35%;bottom: 30%;left: auto;top:auto;width: 89px;height: 20px;}
    .evaluate-customer .swiper-button-prev{right:40%;bottom: 30%;left: auto;top:auto;width: 89px;height: 20px;}
    .evaluate-customer .swiper-button-prev{background: url(left.png) no-repeat left top;
        background-size: contain;}
    /* .evaluate-customer .swiper-button-prev:hover{background: url(left-hover.png) no-repeat left top; */
        /* background-size: contain;width: 89px;} */
    .evaluate-customer .swiper-button-next{background: url(right.png) no-repeat right top;
        background-size: contain;}
    /* .evaluate-customer .swiper-button-next:hover{background: url(right-hover.png) no-repeat right top;
        background-size: contain;width: 89px;} */
    .evaluate-customer .evaluate-all{position: static;}
    .shipin-service{position: absolute;left: 50%;transform: translate(-50%);bottom: 150px;}
    .shipin-service img{width:100%;display: block;margin: 0 auto;}
}
/*  给矩形一个1px实心颜色rgb为#E4E4E2的边框  */






.Rotary-sowing-about .dnSlide-main .dnSlide-left-btn{background-image: url(btn_l.png);}
.Rotary-sowing-about .dnSlide-main .dnSlide-right-btn{background-image: url(btn_r.png);}
.Rotary-sowing-about .dnSlide-item.active .slideC .slide-c span{color: #00cbbd;}
.Rotary-sowing-about .dnSlide-item.active .slideC .slid-border{background: none;}